<button (click)="active=!active" class="show">add phone</button>
<div *ngIf="active">
    <dl>
        <dt>
            <label for="diller">Diller</label>
        </dt>
        <dd><input type="text" id="diller" [(ngModel)]="phone.diller"></dd>
        <dt>
            <label for="model">Model</label>
        </dt>
        <dd><input type="text" id="model" [(ngModel)]="phone.model"></dd>
        <dt>
            <label for="image">URL Image</label>
        </dt>
        <dd><input type="text" id="image" [(ngModel)]="phone.imageUrl"></dd>
        <dt>
            <label for="battery">Battery</label>
        </dt>
        <dd><input type="text" id="battery" [(ngModel)]="phone.battery"></dd>
        <dt>
            <label for="desc">Description</label>
        </dt>
        <dd><textarea id="desc" [(ngModel)]="phone.description"></textarea></dd>
    </dl>
    <button (click)="addPhone()" class="add">add</button>
</div>
