.main {
    padding-top: 50px;
    text-align: center;
}

.cont {
    min-width: 300px;
    max-width: 900px;
    background: #369;
    padding: 20px;
    min-height: 650px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.cont.list {
    max-height: 650px;
    overflow-y: scroll;
}
nav {
    position: fixed;
    top: 100px;
    left: 10px;
}
nav ul {
    list-style: none;
}
nav ul li a.active {
    background: #f00;
}
nav ul li {
    padding-bottom: 5px;
}
nav ul li a {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    color: #cccccc;
    border-radius: 5px;
    background: #369;
}