<div class="main">
    <div class="cont">
        <app-phone-form (addAction)="update($event)"></app-phone-form>
    </div>
    <div class="cont list">
        <app-list [arr]="phones" (active)="setActive($event)"></app-list>
    </div>
    <div class="cont">
        <app-more *ngIf="active" [active]="active"></app-more>
    </div>
</div>
<dl>
    <dt>parent</dt>
    <dd><input type="text" [(ngModel)]="text"></dd>
    <dt>another component</dt>
    <dd><app-test [(text)]="text"></app-test></dd>
</dl>
