.main {
    padding-top: 50px;
    text-align: center;
}

.cont {
    width: 300px;
    background: #369;
    padding: 20px;
    min-height: 650px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.cont.list {
    max-height: 650px;
    width: 400px;
    overflow-y: scroll;
}