.container {
    width: 120px;
    background: yellow;
    box-shadow: 1px 1px 5px #000;
    padding:15px 20px;
    display: inline-block;
    margin: 10px;
}
.container .img {
    background-size: cover;
    height: 80px;
    margin-bottom: 15px;
}
a {
    background: #369;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 100px;
    line-height: 40px;
    border-radius: 15px;
}
a:hover,a:focus{
    box-shadow: 0 0 5px 5px #00357c;
}
a:active{
    box-shadow: 1px 1px 5px black inset;
}
